<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="leap_hand_paxini" params="mesh_dir">

        <xacro:include
            filename="$(find my_robot_description)/urdf/leap_hand/leap_hand_body.urdf.xacro" />
        <xacro:leap_hand_body mesh_dir="${mesh_dir}" use_tac3d="false" />

        <!-- the links and joints for customized fingertips -->
        <link name="fingertip_new">
            <visual>
                <origin xyz="0.0165 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0.017 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0.017 0 0.01" rpy="0 3.1415926 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="fingertip_new_tip">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_fingertip.STL" scale="1 1 1" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="fingertip_2_new">
            <visual>
                <origin xyz="0.0165 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0.017 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0.017 0 0.01" rpy="0 3.1415926 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="fingertip_2_new_tip">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_fingertip.STL" scale="1 1 1" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="fingertip_3_new">
            <visual>
                <origin xyz="0.0165 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0.017 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0.017 0 0.01" rpy="0 3.1415926 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="fingertip_3_new_tip">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_fingertip.STL" scale="1 1 1" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="thumb_fingertip_new">
            <visual>
                <origin xyz="0.0165 0 0.01" rpy="0 3.1415926 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0.0358 0.0085" rpy="0 0 1.5707963267948966" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL"  scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <link name="thumb_fingertip_new_tip">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_fingertip.STL" scale="1 1 1" />
                </geometry>
                <material name="fingertip_material">
                    <color
                        rgba="0.86666666666666669627 0.86666666666666669627 0.050980392156862744391 1.0" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="${mesh_dir}paxini_base.STL" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
            <inertial>
                <!-- TODO(yongpeng) modify the inertia -->
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.0000000001" />
                <inertia ixx="0.0000000001" ixy="0" ixz="0" iyy="0.0000000001" iyz="0"
                    izz="0.0000000001" />
            </inertial>
        </link>

        <!-- joint: base to tip -->
        <joint name="finger1_tipbase2tip" type="fixed">
            <origin xyz="0 -0.017 0.0145" rpy="0 ${pi/2} ${pi}" />
            <parent link="fingertip" />
            <child link="fingertip_new" />
        </joint>

        <joint name="finger2_tipbase2tip" type="fixed">
            <origin xyz="0 -0.017 0.0145" rpy="0 ${pi/2} ${pi}" />
            <parent link="fingertip_2" />
            <child link="fingertip_2_new" />
        </joint>

        <joint name="finger3_tipbase2tip" type="fixed">
            <origin xyz="0 -0.017 0.0145" rpy="0 ${pi/2} ${pi}" />
            <parent link="fingertip_3" />
            <child link="fingertip_3_new" />
        </joint>

        <joint name="thumb_tipbase2tip" type="fixed">
            <origin xyz="0 -0.03 -0.0145" rpy="0 ${pi/2} ${pi}" />
            <parent link="thumb_fingertip" />
            <child link="thumb_fingertip_new" />
        </joint>

        <!-- joint: paxini_base to paxini_fingertip -->

        <joint name="finger1_new2newtip" type="fixed">
            <origin xyz="0 0.0235 0" rpy="0 3.1415926 0" />
            <parent link="fingertip_new" />
            <child link="fingertip_new_tip" />
        </joint>

        <joint name="finger2_new2newtip" type="fixed">
            <origin xyz="0 0.0235 0" rpy="0 3.1415926 0" />
            <parent link="fingertip_2_new" />
            <child link="fingertip_2_new_tip" />
        </joint>

        <joint name="finger3_new2newtip" type="fixed">
            <origin xyz="0 0.0235 0" rpy="0 3.1415926 0" />
            <parent link="fingertip_3_new" />
            <child link="fingertip_3_new_tip" />
        </joint>

        <joint name="thumb_new2newtip" type="fixed">
            <origin xyz="0 0.0235 0" rpy="0 3.1415926 0" />
            <parent link="thumb_fingertip_new" />
            <child link="thumb_fingertip_new_tip" />
        </joint>


        <!-- the links and joints for fingertip centers -->

        <link name="finger1_tip_center" />
        <link name="finger2_tip_center" />
        <link name="finger3_tip_center" />
        <link name="thumb_tip_center" />

        <joint name="finger1_tip2center" type="fixed">
            <origin rpy="3.1415926 0 1.5707963267948966" xyz="0 0.003 -0.011" />
            <parent link="fingertip_new_tip" />
            <child link="finger1_tip_center" />
        </joint>

        <joint name="finger2_tip2center" type="fixed">
            <origin rpy="3.1415926 0 1.5707963267948966" xyz="0 0.003 -0.011" />
            <parent link="fingertip_2_new_tip" />
            <child link="finger2_tip_center" />
        </joint>

        <joint name="finger3_tip2center" type="fixed">
            <origin rpy="3.1415926 0 1.5707963267948966" xyz="0 0.003 -0.011" />
            <parent link="fingertip_3_new_tip" />
            <child link="finger3_tip_center" />
        </joint>

        <joint name="thumb_tip2center" type="fixed">
            <origin rpy="3.1415926 0 1.5707963267948966" xyz="0 0.003 -0.011" />
            <parent link="thumb_fingertip_new_tip" />
            <child link="thumb_tip_center" />
        </joint>

        <!-- wrist -->
        <link name="wrist" />
        <joint name="palm_to_wrist" type="fixed">
            <origin rpy="0 ${pi/2} 0" xyz="-0.16 -0.04 -0.01" />
            <parent link="palm_lower" />
            <child link="wrist" />
        </joint>

        <!-- the links and joints for fingertip centers (lower) -->
        <!-- 0.02 m is the length of human distal link -->

        <link name="finger1_tip_center_lower" />
        <link name="finger2_tip_center_lower" />
        <link name="finger3_tip_center_lower" />
        <link name="thumb_tip_center_lower" />

        <joint name="finger1_tip_center2lower" type="fixed">
            <origin rpy="0 0 0" xyz="-0.02 0 0" />
            <parent link="finger1_tip_center" />
            <child link="finger1_tip_center_lower" />
        </joint>

        <joint name="finger2_tip_center2lower" type="fixed">
            <origin rpy="0 0 0" xyz="-0.02 0 0" />
            <parent link="finger2_tip_center" />
            <child link="finger2_tip_center_lower" />
        </joint>

        <joint name="finger3_tip_center2lower" type="fixed">
            <origin rpy="0 0 0" xyz="-0.02 0 0" />
            <parent link="finger3_tip_center" />
            <child link="finger3_tip_center_lower" />
        </joint>

        <joint name="thumb_tip_center2lower" type="fixed">
            <origin rpy="0 0 0" xyz="-0.02 0 0" />
            <parent link="thumb_tip_center" />
            <child link="thumb_tip_center_lower" />
        </joint>


    </xacro:macro>
</robot>
